In [73]:
!pip install pandas sqlalchemy psycopg2 openpyxl

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\hp\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: psycopg2 in c:\users\hp\anaconda3\lib\site-packages (2.9.10)
Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [74]:
import pandas as pd
import re
from sqlalchemy import create_engine
import os

In [75]:
file_path = "Combined_IFSC1.csv"

# Since it's a CSV file, use read_csv instead of read_excel
df = pd.read_csv(file_path)

df

,BANK,IFSC,BRANCH,ADDRESS,CITY1,CITY2,STATE,STD CODE,PHONE
0,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065001,RTGS-HO,"ABHYUDAYA BUILDING, KAMAL NATH MARG,NEHRU NAGA...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,0.0,9.653261e+09
1,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065002,ABHYUDAYA NAGAR,"ABHYUDAYA EDUCATION SOCIETY, OPP. BLDG. NO. 18...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.470264e+07
2,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065003,BAIL BAZAR,"KMSPMS SCHOOL, WADIA ESTATE, BAIL BAZAR-KURLA(...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.503220e+07
3,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065004,BHANDUP,"CHETNA APARTMENTS, J.M.ROAD, BHANDUP, MUMBAI-4...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.596316e+07
4,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065005,DARUKHANA,"POTIA IND.ESTATE, REAY ROAD (E), DARUKHANA, MU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.377816e+07
...,...,...,...,...,...,...,...,...,...
176995,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000301,BHOJPUR,BHOJPUR MODINAGAR,MODINAGAR,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09
176996,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000311,VIJAYNAGAR,R 6 ADVOCATE COLONY PRATAP VIHAR VIJAYNAGAR,GHAZIABAD,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09
176997,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000321,KHORA,KHODA COLONY KHODA,GHAZIABAD,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09
176998,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000331,RAVALI KALA,"VILL.RAVLIKALA,MURAD NAGAR",RAVLI,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09
176999,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000341,LONI,D-46 INDIRAPURI LONI GHAZIABAD,LONI,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09

In [76]:
df.columns = df.columns.str.strip().str.lower()

# Rename to match schema
df = df.rename(columns={
    "bank": "bank",
    "ifsc": "ifsc",
    "branch": "branch",
    "address": "address",
    "city1": "city1",
    "city2": "city2",
    "state": "state",
    "std code": "stdCode",
    "phone": "phone"
})
for col in ["bank", "branch", "address", "city1", "city2", "state"]:
    df[col] = df[col].astype(str).str.strip()

df.head()

,bank,ifsc,branch,address,city1,city2,state,stdCode,phone
0,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065001,RTGS-HO,"ABHYUDAYA BUILDING, KAMAL NATH MARG,NEHRU NAGA...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,0.0,9.653261e+09
1,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065002,ABHYUDAYA NAGAR,"ABHYUDAYA EDUCATION SOCIETY, OPP. BLDG. NO. 18...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.470264e+07
2,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065003,BAIL BAZAR,"KMSPMS SCHOOL, WADIA ESTATE, BAIL BAZAR-KURLA(...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.503220e+07
3,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065004,BHANDUP,"CHETNA APARTMENTS, J.M.ROAD, BHANDUP, MUMBAI-4...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.596316e+07
4,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065005,DARUKHANA,"POTIA IND.ESTATE, REAY ROAD (E), DARUKHANA, MU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.377816e+07

In [77]:
import numpy as np
df['bank'] = df['bank'].str.strip()
df['bank'] = df['bank'].replace('', np.nan)
df

,bank,ifsc,branch,address,city1,city2,state,stdCode,phone
0,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065001,RTGS-HO,"ABHYUDAYA BUILDING, KAMAL NATH MARG,NEHRU NAGA...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,0.0,9.653261e+09
1,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065002,ABHYUDAYA NAGAR,"ABHYUDAYA EDUCATION SOCIETY, OPP. BLDG. NO. 18...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.470264e+07
2,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065003,BAIL BAZAR,"KMSPMS SCHOOL, WADIA ESTATE, BAIL BAZAR-KURLA(...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.503220e+07
3,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065004,BHANDUP,"CHETNA APARTMENTS, J.M.ROAD, BHANDUP, MUMBAI-4...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.596316e+07
4,ABHYUDAYA COOPERATIVE BANK LIMITED,ABHY0065005,DARUKHANA,"POTIA IND.ESTATE, REAY ROAD (E), DARUKHANA, MU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,22.0,2.377816e+07
...,...,...,...,...,...,...,...,...,...
176995,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000301,BHOJPUR,BHOJPUR MODINAGAR,MODINAGAR,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09
176996,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000311,VIJAYNAGAR,R 6 ADVOCATE COLONY PRATAP VIHAR VIJAYNAGAR,GHAZIABAD,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09
176997,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000321,KHORA,KHODA COLONY KHODA,GHAZIABAD,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09
176998,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000331,RAVALI KALA,"VILL.RAVLIKALA,MURAD NAGAR",RAVLI,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09
176999,ZILA SAHAKRI BANK LIMITED GHAZIABAD,ZSBL0000341,LONI,D-46 INDIRAPURI LONI GHAZIABAD,LONI,GHAZIABAD,UTTAR PRADESH,0.0,7.217895e+09

In [78]:
df.columns = df.columns.str.strip().str.upper()

# Extract unique banks
unique_banks = df["BANK"].dropna().unique()

# Create DataFrame with auto-generated IDs
bank_df = pd.DataFrame({
    "bank_id": range(1, len(unique_banks) + 1),
    "bank_name": unique_banks
})

print(bank_df)

     bank_id                                          bank_name
0          1                 ABHYUDAYA COOPERATIVE BANK LIMITED
1          2          THE ADARSH COOPERATIVE URBAN BANK LIMITED
2          3  THE AKOLA-WASHIM DISTRICT CENTRAL COOPERATIVE ...
3          4  THE AHMEDNAGAR DISTRICT CENTRAL COOPERATIVE BA...
4          5                       AIRTEL PAYMENTS BANK LIMITED
..       ...                                                ...
232      233                  VASAI VIKAS SAHAKARI BANK LIMITED
233      234             THE WEST BENGAL STATE COOPERATIVE BANK
234      235                                           YES BANK
235      236           THE ZOROASTRIAN COOPERATIVE BANK LIMITED
236      237                ZILA SAHAKRI BANK LIMITED GHAZIABAD

[237 rows x 2 columns]

In [79]:
# Reset index and drop the old one
bank_df = bank_df.reset_index(drop=True)

# Print without the DataFrame index
print(bank_df.to_string(index=False))

 bank_id                                                              bank_name
       1                                     ABHYUDAYA COOPERATIVE BANK LIMITED
       2                              THE ADARSH COOPERATIVE URBAN BANK LIMITED
       3         THE AKOLA-WASHIM DISTRICT CENTRAL COOPERATIVE BANK LTD., AKOLA
       4                   THE AHMEDNAGAR DISTRICT CENTRAL COOPERATIVE BANK LTD
       5                                           AIRTEL PAYMENTS BANK LIMITED
       6                                   THE AJARA URBAN CO OP BANK LTD AJARA
       7                              AMBARNATH JAIHIND COOP BANK LTD AMBARNATH
       8                               AKOLA JANATA COMMERCIAL COOPERATIVE BANK
       9                                  AHMEDABAD MERCANTILE COOPERATIVE BANK
      10                                     AHMEDNAGAR MERCHANTS COOP BANK LTD
      11                        AUSTRALIA AND NEW ZEALAND BANKING GROUP LIMITED
      12                      THE ANDHRA PRADESH STATE COOPERATIVE BANK LIMITED
      13                                          ANDHRA PRAGATHI GRAMEENA BANK
      14                                     ANDHRA PRADESH GRAMEENA VIKAS BANK
      15                         THE A.P. MAHESH COOPERATIVE URBAN BANK LIMITED
      16                                               ARVIND SAHAKARI BANK LTD
      17                                             APNA SAHAKARI BANK LIMITED
      18                                          AU SMALL FINANCE BANK LIMITED
      19                                  ALMORA URBAN COOPERATIVE BANK LIMITED
      20                              BASSEIN CATHOLIC COOPERATIVE BANK LIMITED
      21                                         THE BARAMATI SAHAKARI BANK LTD
      22                                                         BANK OF BARODA
      23                                                          BARCLAYS BANK
      24                                        BANK OF BAHARAIN AND KUWAIT BSC
      25                                 BHARAT COOPERATIVE BANK MUMBAI LIMITED
      26                                                         BANK OF CEYLON
      27                                     BANK OF CHINA LIMITED INDIA BRANCH
      28                                                   BANDHAN BANK LIMITED
      29                                                          BANK OF INDIA
      30                                 BOMBAY MERCANTILE COOPERATIVE BANK LTD
      31                                                          B N P PARIBAS
      32                                BHAGINI NIVEDITA SAHAKARI BANK LTD PUNE
      33                                                        BANK OF AMERICA
      34                                                         MUFG BANK, LTD
      35                              THE BURDWAN CENTRAL CO OPERATIVE BANK LTD
      36                                                  CENTRAL BANK OF INDIA
      37                                CITIZEN CREDIT COOPERATIVE BANK LIMITED
      38                              THE CLEARING CORPORATION OF INDIA LIMITED
      39                                                         JP MORGAN BANK
      40                                                              CITI BANK
      41                                                CITY UNION BANK LIMITED
      42                                     CAPITAL SMALL FINANCE BANK LIMITED
      43                                                            CANARA BANK
      44                                            COASTAL LOCAL AREA BANK LTD
      45                                   THE COSMOS CO OPERATIVE BANK LIMITED
      46                                                                 UBS AG
      47                                         CHHATTISGARH RAJYA GRAMIN BANK
      48              CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK CALYON BANK
      49         SHRI CHHATRAPATI RAJASHRI SHAHU URBAN COOPERATIVE BANK LIMITED
      50                                                       CSB BANK LIMITED
      51                                                       CTBC BANK CO LTD
      52                                                 DBS BANK INDIA LIMITED
      53                                                       DCB BANK LIMITED
      54                                 DARUSSALAM CO OPERATIVE URBAN BANK LTD
      55                           DEOGIRI NAGARI SAHAKARI BANK LTD. AURANGABAD
      56                                                          DEUTSCHE BANK
      57                     DEPOSIT INSURANCE AND CREDIT GUARANTEE CORPORATION
      58                               THE DELHI STATE COOPERATIVE BANK LIMITED
      59                                                      DHANALAKSHMI BANK
      60                                                         DMK JAOLI BANK
      61                                  DOMBIVLI NAGARI SAHAKARI BANK LIMITED
      62                                                      DOHA BANK Q.P.S.C
      63                           DURGAPUR STEEL PEOPLES CO-OPERATIVE BANK LTD
      64                                              EMIRATES NBD BANK P J S C
      65                                            EXPORT IMPORT BANK OF INDIA
      66                                     EQUITAS SMALL FINANCE BANK LIMITED
      67                                        ESAF SMALL FINANCE BANK LIMITED
      68                                                           FEDERAL BANK
      69                                                     FINO PAYMENTS BANK
      70                            THE GREATER BOMBAY COOPERATIVE BANK LIMITED
      71               THE GADCHIROLI DISTRICT CENTRAL COOPERATIVE BANK LIMITED
      72                             THE GUJARAT STATE COOPERATIVE BANK LIMITED
      73                               GUARDIAN SOUHARDA SAHAKARI BANK NIYAMITA
      74                                         HARYANA STATE COOPERATIVE BANK
      75                                                THE HASTI COOP BANK LTD
      76                                                              HDFC BANK
      77                            HIMACHAL PRADESH STATE COOPERATIVE BANK LTD
      78                                                              HSBC BANK
      79                                              HUTATMA SAHAKARI BANK LTD
      80                                                             WOORI BANK
      81                                          PT BANK MAYBANK INDONESIA TBK
      82                                                              IDBI BANK
      83                                               INDUSTRIAL BANK OF KOREA
      84                        INDUSTRIAL AND COMMERCIAL BANK OF CHINA LIMITED
      85                                                     ICICI BANK LIMITED
      86                                                    IDFC FIRST BANK LTD
      87                                                            INDIAN BANK
      88                                                          INDUSIND BANK
      89                                                   INDIAN OVERSEAS BANK
      90                                                INDIA POST PAYMENT BANK
      91                                         JAMMU AND KASHMIR BANK LIMITED
      92                                         JANASEVA SAHAKARI BANK LIMITED
      93                                 JANASEVA SAHAKARI BANK BORIVLI LIMITED
      94                                              JIO PAYMENTS BANK LIMITED
      95                                   JALGAON JANATA SAHAKARI BANK LIMITED
      96                           THE JALGAON PEOPELS COOPERATIVE BANK LIMITED
      97                                       JANAKALYAN SAHAKARI BANK LIMITED
      98                                           JANATA SAHAKARI BANK LIMITED
      99                                            JANA SMALL FINANCE BANK LTD
     100                                      JANATHA SEVA COOPERATIVE BANK LTD
     101                            THE KANGRA CENTRAL COOPERATIVE BANK LIMITED
     102            KALLAPPANNA AWADE ICHALKARANJI JANATA SAHAKARI BANK LIMITED
     103                                    THE KANGRA COOPERATIVE BANK LIMITED
     104                                                 KARNATAKA BANK LIMITED
     105                                                           KOOKMIN BANK
     106                                    KALUPUR COMMERCIAL COOPERATIVE BANK
     107                                   THE KALYAN JANATA SAHAKARI BANK LTD.
     108                                            KOTAK MAHINDRA BANK LIMITED
     109                                                     KERALA GRAMIN BANK
     110                             THE KURMANCHAL NAGAR SAHAKARI BANK LIMITED
     111                                                          KEB HANA BANK
     112                                      THE KOLHAPUR URBAN CO OP BANK LTD
     113                                 THE KERALA STATE CO OPERATIVE BANK LTD
     114                     THE KARANATAKA STATE COOPERATIVE APEX BANK LIMITED
     115                               THE KARAD URBAN COOPERATIVE BANK LIMITED
     116                                                       KARUR VYSYA BANK
     117                                          KARNATAKA VIKAS GRAMEENA BANK
     118                                                    BANK OF MAHARASHTRA
     119                                                MAHARASHTRA GRAMIN BANK
     120                                THE MEGHALAYA COOPERATIVE APEX BANK LTD
     121                          GS MAHANAGAR CO-OPERATIVE BANK LIMITED,MUMBAI
     122                                             MODEL COOPERATIVE BANK LTD
     123                   THE MUMBAI DISTRICT CENTRAL COOPERATIVE BANK LIMITED
     124                                                        MIZUHO BANK LTD
     125                                          MAHESH SAHAKARI BANK LTD PUNE
     126                                     MAHARASHTRA STATE COOPERATIVE BANK
     127                                                        MASHREQBANK PSC
     128                                        THE MUSLIM COOPERATIVE BANK LTD
     129                                     THE MEHSANA URBAN COOPERATIVE BANK
     130                                 THE MUNICIPAL COOPERATIVE BANK LIMITED
     131                               SIR M VISVESVARAYA CO OPERATIVE BANK LTD
     132                                              FIRST ABU DHABI BANK PJSC
     133                    NATIONAL BANK FOR AGRICULTURE AND RURAL DEVELOPMENT
     134                      THE NILAMBUR CO OPERATIVE URBAN BANK LTD NILAMBUR
     135                                       SLICE SMALL FINANCE BANK LIMITED
     136                                   NAGPUR NAGARIK SAHAKARI BANK LIMITED
     137                                                          NONGHYUP BANK
     138                                     NEW INDIA COOPERATIVE BANK LIMITED
     139                                              NAV JEEVAN CO OP BANK LTD
     140                                         NKGSB COOPERATIVE BANK LIMITED
     141                           THE NASIK MERCHANTS COOPERATIVE BANK LIMITED
     142                                    NUTAN NAGARIK SAHAKARI BANK LIMITED
     143                                                THE BANK OF NOVA SCOTIA
     144                                             NSDL PAYMENTS BANK LIMITED
     145                                              THE NAINITAL BANK LIMITED
     146                                 THE NAVNIRMAN COOPERATIVE BANK LIMITED
     147                                 THE ODISHA STATE CO-OPERATIVE BANK LTD
     148                                                PHONEPE PRIVATE LIMITED
     149                                                        G P PARSIK BANK
     150                                                  KARNATAKA GRAMIN BANK
     151                                         PRIME COOPERATIVE BANK LIMITED
     152                                               PAVANA SAHAKARI BANK LTD
     153                                                   PUNJAB AND SIND BANK
     154                       THE PANDHARPUR URBAN CO OP. BANK LTD. PANDHARPUR
     155                                                   PUNJAB NATIONAL BANK
     156                             THE PUSAD URBAN COOPERATIVE BANK LTD PUSAD
     157                                                PAYTM PAYMENTS BANK LTD
     158                                            QATAR NATIONAL BANK Q.P.S.C
     159                                                 RABOBANK INTERNATIONAL
     160                                                       RBL BANK LIMITED
     161                                                  RESERVE BANK OF INDIA
     162                      RAJNANDGAON DISTRICT CENTRAL COOPERATIVE BANK LTD
     163                                                  RAJASTHAN GRAMIN BANK
     164                                    RAJKOT NAGRIK SAHAKARI BANK LIMITED
     165                                      RAJARAMBAPU SAHAKARI BANK LIMITED
     166                                     RAJGURUNAGAR SAHAKARI BANK LIMITED
     167                           THE RAJASTHAN STATE COOPERATIVE BANK LIMITED
     168                                 RAJARSHI SHAHU SAHAKARI BANK LTD  PUNE
     169                                                              SBER BANK
     170                                                SAPTAGIRI GRAMEENA BANK
     171                                       SANT SOPANKAKA SAHAKARI BANK LTD
     172                                                    STATE BANK OF INDIA
     173                                              SAMARTH SAHAKARI BANK LTD
     174                                                STANDARD CHARTERED BANK
     175                            THE SURAT DISTRICT COOPERATIVE BANK LIMITED
     176                       THE SATARA DISTRICT CENTRAL COOPERATIVE BANK LTD
     177                            SREE CHARAN SOUHARDHA CO OPERATIVE BANK LTD
     178                                                 SAURASHTRA GRAMIN BANK
     179                                                           SHINHAN BANK
     180                                                      SOUTH INDIAN BANK
     181                 THE SINDHUDURG DISTRICT CENTRAL CO-OPERATIVE BANK LTD.
     182                                   SOLAPUR JANATA SAHAKARI BANK LIMITED
     183                               SHREE KADI NAGARIK SAHAKARI BANK LIMITED
     184                                         SHIKSHAK SAHAKARI BANK LIMITED
     185                                    SUMITOMO MITSUI BANKING CORPORATION
     186                                    SHIVALIK SMALL FINANCE BANK LIMITED
     187                                   SMRITI NAGRIK SAHAKARI BANK MARYADIT
     188                         SARASPUR NAGRIK CO OPERATIVE BANK LTD SARASPUR
     189                                                       SOCIETE GENERALE
     190                            THE SURATH PEOPLES COOPERATIVE BANK LIMITED
     191                                      SARASWAT COOPERATIVE BANK LIMITED
     192                                                 SBM BANK INDIA LIMITED
     193                                SURAT NATIONAL COOPERATIVE BANK LIMITED
     194                                    SURYODAY SMALL FINANCE BANK LIMITED
     195                                       SUCO SOUHARDHA SAHAKARI BANK LTD
     196                                         SUTEX COOPERATIVE BANK LIMITED
     197                                    THE SHAMRAO VITHAL COOPERATIVE BANK
     198                                          SHRI VEERSHAIV CO OP BANK LTD
     199                               THE AKOLA URBAN COOPERATIVE BANK LIMITED
     200                        THE BANASKANTHA MERCANTILE COOPERATIVE BANK LTD
     201                                 THE THANE BHARAT SAHAKARI BANK LIMITED
     202                                 THE COOPERATIVE BANK OF RAJKOT LIMITED
     203                    THE THANE DISTRICT CENTRAL COOPERATIVE BANK LIMITED
     204                        TUMKUR GRAIN MERCHANTS COOPERATIVE BANK LIMITED
     205                                                TELANGANA GRAMEENA BANK
     206                                                 TJSB SAHAKARI BANK LTD
     207                                       TAMILNAD MERCANTILE BANK LIMITED
     208                                            THE MALAD SAHAKARI BANK LTD
     209                                     THE NAWANAGAR COOPERATIVE BANK LTD
     210                             THE TAMIL NADU STATE APEX COOPERATIVE BANK
     211                                  THE PUNJAB STATE COOPERATIVE BANK LTD
     212                                         TELANGANA STATE COOP APEX BANK
     213                                               SATARA SAHAKARI BANK LTD
     214                                          TTC CO-OPERATIVE BANK LIMITED
     215                                                    UNION BANK OF INDIA
     216                                                               UCO BANK
     217                                   URBAN CO OPERATIVE BANK LTD BAREILLY
     218                                     UJJIVAN SMALL FINANCE BANK LIMITED
     219                                       UNITY SMALL FINANCE BANK LIMITED
     220                                           UNITED OVERSEAS BANK LIMITED
     221                                         UTTAR PRADESH COOPERATIVE BANK
     222 THE URBAN CO OPERATIVE BANK LTD NO ONE SEVEN FIVE EIGHT PERINTHALMANNA
     223                             UTTARAKHAND STATE COOPERATIVE BANK LIMITED
     224                                                              AXIS BANK
     225                                             UTKARSH SMALL FINANCE BANK
     226                                THE UDAIPUR URBAN CO OPERATIVE BANK LTD
     227                                  THE VARACHHA COOPERATIVE BANK LIMITED
     228                                         VASAI JANATA SAHAKARI BANK LTD
     229                                    THE VIJAY CO OPERATIVE BANK LIMITED
     230                               VIKAS SOUHARDA CO OPERATIVE BANK LIMITED
     231                                  THE VISHWESHWAR SAHAKARI BANK LIMITED
     232                                                           JSC VTB BANK
     233                                      VASAI VIKAS SAHAKARI BANK LIMITED
     234                                 THE WEST BENGAL STATE COOPERATIVE BANK
     235                                                               YES BANK
     236                               THE ZOROASTRIAN COOPERATIVE BANK LIMITED
     237                                    ZILA SAHAKRI BANK LIMITED GHAZIABAD

In [80]:
df.ifsc.unique()

AttributeError: 'DataFrame' object has no attribute 'ifsc'

In [ ]:
df = df.drop_duplicates(subset=["ifsc"])
df = df[df["ifsc"].notna()]
pattern = re.compile(r"^[A-Z]{4}0[A-Z0-9]{6}$")
df = df[df["ifsc"].apply(lambda x: bool(pattern.match(str(x))))]
df.head()

In [ ]:
# Count number of accounts per bank
bank_counts = df['bank'].value_counts(dropna=False)  # dropna=False to include NaN banks
print(bank_counts)

In [ ]:
bank_counts = df.groupby('bank').size().reset_index(name='num_accounts')

# Bank with highest accounts
highest_bank = bank_counts.loc[bank_counts['num_accounts'].idxmax()]
lowest_bank = bank_counts.loc[bank_counts['num_accounts'].idxmin()]

print(f"Highest: {highest_bank['bank']} with {highest_bank['num_accounts']} accounts")
print(f"Lowest: {lowest_bank['bank']} with {lowest_bank['num_accounts']} accounts")

In [ ]:
# Count unique branches per bank
branch_counts = df.groupby('bank')['branch'].nunique().reset_index(name='num_branches')

print(branch_counts)

In [ ]:
# Count unique branches per bank
branch_counts = df.groupby('bank')['branch'].nunique().reset_index(name='num_branches')

# Bank with most branches
most_branches = branch_counts.loc[branch_counts['num_branches'].idxmax()]
# Bank with fewest branches
fewest_branches = branch_counts.loc[branch_counts['num_branches'].idxmin()]

print(f"Bank with most branches: {most_branches['bank']} ({most_branches['num_branches']} branches)")
print(f"Bank with fewest branches: {fewest_branches['bank']} ({fewest_branches['num_branches']} branches)")

In [ ]:
df['branch'] = df['branch'].str.strip()
df['branch'] = df['branch'].replace('', np.nan)
print(df['branch'])

In [ ]:
df['address'] = df['address'].str.strip()
df['address'] = df['address'].replace('', np.nan)
print(df['address'])

In [ ]:
df['city1'] = df['city1'].str.strip()
df['city1'] = df['city1'].replace('', np.nan)
print(df['city1'])

In [ ]:
df['city2'] = df['city2'].str.strip()
df['city2'] = df['city2'].replace('', np.nan)
print(df['city2'])

In [ ]:
df.state.unique()

In [ ]:
state_corrections = {
    # Common misspellings
    'MADHY PRADESH': 'MADHYA PRADESH',
    'UTTA PRADES': 'UTTAR PRADESH',
    'MADHYAPRADESH': 'MADHYA PRADESH',
    'ODHISA': 'ODISHA',
    'ORISSA': 'ODISHA',
    'CHATTISGARH': 'CHHATTISGARH',
    'CHHATISGARH': 'CHHATTISGARH',
    'CHHATISHGARH': 'CHHATTISGARH',
    'HARKHAND': 'JHARKHAND',
    'JH': 'JHARKHAND',
    'KA': 'KARNATAKA',
    'KARANATAKA': 'KARNATAKA',
    'TN': 'TAMIL NADU',
    'TAMILNADU': 'TAMIL NADU',
    'TELENGANA': 'TELANGANA',
    'ANDHRAPRADESH': 'ANDHRA PRADESH',
    'GUJRAT': 'GUJARAT',
    'WESTBENGAL': 'WEST BENGAL',
    'ANDAMANANDNICOBAR': 'ANDAMAN AND NICOBAR ISLANDS',
    'JAMMUANDKASHMIR': 'JAMMU AND KASHMIR',
    'HIMACHALPRADESH': 'HIMACHAL PRADESH',
    'UTTARANCHAL': 'UTTARAKHAND',
    'CHANDIGARH UT': 'CHANDIGARH',
    'DADARA AND NAGAR HAVELI AND DAMAN AND DIU': 'DADRA AND NAGAR HAVELI AND DAMAN AND DIU',
    'DAMAN': 'DAMAN AND DIU',
    # Abbreviations
    'MH': 'MAHARASHTRA',
    'AP': 'ANDHRA PRADESH',
    'HP': 'HIMACHAL PRADESH',
    'MP' : 'MADHYA PRADESH',
    'UP' : 'UTTAR PRADESH',
    
}

df['state'] = df['state'].str.strip() 
df['state'] = df['state'].replace(state_corrections)
df['state'] = df['state'].replace('', np.nan)
df.state

In [ ]:
df.state.unique()

In [ ]:
df.stdCode.unique()

In [ ]:
df

In [ ]:
df[df['stdCode'].isna() | (df['stdCode'].astype(str).str.strip() == "")]
df[~df['stdCode'].astype(str).str.isnumeric()]
df['stdCode'].astype(str).str.len().value_counts()
df.stdCode

In [ ]:
df.phone.unique()

In [ ]:
df[df['phone'].isna() | (df['phone'].astype(str).str.strip() == "")]
df[df['phone'].isin(['9999999999','1234567890','0000000000'])]
df[~df['phone'].astype(str).str.match(r'^[0-9]+$', na=False)]['phone']
df['phone'].value_counts()
df[df['phone'].astype(str).str.startswith(('6','7','8','9','1800'))]

df[df['phone'].isin(['9999999999','1234567890','0000000000'])]

df.phone

In [ ]:
df['phone'] = df['phone'].astype(str).str.strip()
df['stdCode'] = df['stdCode'].astype(str).str.strip()

df_with_match = df[df.apply(lambda row: row['phone'].startswith(row['stdCode']), axis=1)]
df.phone

In [ ]:
import math

# Clean the phone column
df['phone'] = df['phone'].apply(
    lambda x: str(int(float(x))) if pd.notna(x) and str(x).strip() not in ["", "nan"] else None
)
df.phone

In [ ]:
import numpy as np 
df['phone'] = df['phone'].replace({'': np.nan, 'nan': np.nan})
df.phone

In [ ]:
df['phone'] = df['phone'].replace({'': np.nan, 'nan': np.nan})
df.phone

In [ ]:
# 1. Create a city-to-STD mapping (expand as needed)
city_std_map = {
    "NEW DELHI": "011",     # Metro city
    "MUMBAI": "022",
    "KOLKATA": "033",
    "CHENNAI": "044",
    "PUNE": "020",
    "HYDERABAD": "040",
    "AHMEDABAD": "079",
    "BANGALORE": "080",
    # Tier-2 cities (Wikipedia)
    "GHAZIABAD": "120",
    "NOIDA": "120",
    "GURGAON": "124",
    "FARIDABAD": "129",
    "DEHRADUN": "135",
    "JAIPUR": "141",
    "LUDHIANA": "161",
    "PATIALA": "175",
    "JALANDHAR": "181",
    "AMRITSAR": "183",
    "SANGLI": "233",
    "AURANGABAD": "240",
    "AHMEDNAGAR": "241",
    "VASAIVIRAR": "250",
    "KALYAN": "251",
    "NASHIK": "253",
    "AGRA": "562",
    "SURAT": "261",
    "VADODARA": "265",
    "PUDUCHERRY": "413",
    "COIMBATORE": "422",
    "ERODE": "424",
    "MADURAI": "452",
    "THIRUVANANTHAPURAM": "471",
    "KOLLAM": "474",
    "KOCHI": "484",
    "BENGALURU": "080",
    "HUBLI": "836",
    "GUNTUR": "863",
    "VIJAYAWADA": "866",
    "WARANGAL": "870",
    "VISAKHAPATNAM": "891",
    "KOLHAPUR": "231",
    "MANGALAGIRI": "864",     # near Guntur/Vijayawada
    "NAGRAM": "522",          # Lucknow district
    "KAKORI": "522",          # Lucknow district
    "ITAUNJA": "522",         # Lucknow district
    "BARADGAON SUDRIK": "211",
    # Vizianagaram District
    "VIZIANAGARAM": "8922",
    "BOBBILI": "8944",
    "CHEEPURUPALLE": "8922",   # shares Vizianagaram
    "GAJAPATHINAGARAM": "8924",
    "PARVATHIPURAM": "8945",
    "SALUR": "8941",
    "SRUNGAVARAPUKOTA": "8921",
    "GARIVIDI": "8925",
    "KOTHAVALASA": "8920",
    
    # Visakhapatnam District
    "VISHAKHAPATNAM": "891",
    "ANAKAPALLE": "891",
    "BHEEMUNIPATNAM": "891",
    "NARSIPATNAM": "8932",
    "YELLAMANCHILI": "8933",
    "PADERU": "8936",

    # Krishna District
    "VIJAYAWADA": "866",
    "MACHILIPATNAM": "8672",
    "NUZVIDU": "8673",
    "GUDIVADA": "8674",
    "AVANIGADDA": "8671",
    
    # Guntur District
    "GUNTUR": "863",
    "TENALI": "8644",
    "NARASARAOPET": "8647",
    "VINUKONDA": "8646",
    "SATTENAPALLE": "8641",
    
    # Nellore District
    "NELLORE": "861",
    "GUDUR": "8624",
    "KAVALI": "8626",
    "SULLURPET": "8623",

    # Chittoor District
    "CHITTOOR": "8572",
    "TIRUPATI": "877",
    "MADANAPALLE": "8571",
    "PUTTUR": "8577",
    "NAGARI": "8577",

    # Anantapur District
    "ANANTAPUR": "8554",
    "DHARMAVARAM": "8559",
    "HINDUPUR": "8556",
    "GUNTAKAL": "8552",
    "RAYADURG": "8555",
    "TADPATRI": "8558",

    # Kadapa District
    "KADAPA": "8562",
    "PRODDATUR": "8564",
    "RAYACHOTY": "8561",
    "JAMMALAMADUGU": "8563"
}
df['city1'] = df['city1'].astype(str).str.upper().str.strip()
df['stdCode'] = df['city1'].map(city_std_map)
df.stdCode

In [ ]:
df.std

In [ ]:
df['stdCode'] = df['stdCode'].apply(
    lambda x: str(int(float(x))) if pd.notna(x) and str(x).strip() not in ["", "nan"] else None
)
df

In [ ]:
df.to_csv("cleaned_bankifsc_data.csv", index=False)